<div class="row">
    <div class="col-md-12">
        <div class="alert bg-success alert-icon-left mb-2" role="alert">
            <span class="alert-icon"><i class="la la-pencil-square"></i></span>
            <strong>Sorry!</strong>
            <p>Record not found.</p>
        </div>
    </div>
</div>
