<div class="alliant-file-template">
    <!-- modal-gallery is the modal dialog used for the image gallery -->
    <div id="modal-gallery" class="modal modal-gallery hide fade">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">&times;</a>
            <h3 class="modal-title"></h3>
        </div>
        <div class="modal-body"><div class="modal-image"></div></div>
        <div class="modal-footer">
            <a class="btn btn-primary modal-next">
                <span>Next</span>
                <i class="icon-arrow-right icon-white"></i>
            </a>
            <a class="btn btn-info modal-prev">
                <i class="icon-arrow-left icon-white"></i>
                <span>Previous</span>
            </a>
            <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000">
                <i class="icon-play icon-white"></i>
                <span>Slideshow</span>
            </a>
            <a class="btn modal-download" target="_blank">
                <i class="icon-download"></i>
                <span>Download</span>
            </a>
        </div>
    </div>
    <!-- The template to display files available for upload -->
    <script id="alliant-template-upload" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <li class="alliant-template-upload fade downloadtemplateLi">
            {% if (file.error) { %}
            <span class="text-danger">
                <span>
                    {%=file.name%}
                    <label class="badge badge-danger">{%=locale.fileupload.error%}</label>
                    {%=locale.fileupload.errors[file.error] || file.error%}

                    {% if (!i) { %}
                    <button class="btn btn-warning jsAlliantFileCancel" type="button" title="{%=locale.fileupload.cancel%}">
                        <i class="k-icon k-i-cancel"></i>
                    </button>
                    {% } %}

                </span>
            </span>
            {% } %}
        </li>
        {% } %}
    </script>
    <!-- The template to display files available for download -->
    <script id="alliant-template-download" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}
        <li class="alliant-template-download fade downloadtemplateLi">
            {% if (file.error) { %}
            <span class="text-danger">
                <span>{%=file.name%} <label class="badge badge-danger">{%=locale.fileupload.error%}</label> {%=locale.fileupload.errors[file.error] || file.error%}</span>
                <button class="btn btn-danger jsAlliantFileDelete" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
                    <span class="k-icon k-i-delete"></span>
                </button>
            </span>
            {% }else { %}
            <span>
                <img onerror="this.style.display='none'" class="imgthumbnaildownload" src="{%=file.thumbnail_url%}">{%=file.name%}
                <button class="btn btn-danger jsAlliantFileDelete" type="button" title="{%=locale.fileupload.destroy%}" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
                    <span class="k-icon k-i-delete"></span>
                </button>
                <a class="btn btn-primary" data-type="{%=file.download_type%}" data-url="{%=file.url%}" target="_blank" href="{%=file.url%}">
                    <span class="k-icon k-i-download"></span>
                </a>
                <input type="hidden" name="FileName" value="{%=file.name%}">
                <input type="hidden" name="OriginalFileName" value="{%=file.originalFileName%}">
                <input type="hidden" name="FilePath" value="{%=file.webPath%}">
                <input type="hidden" name="IsUploded" value="{%=file.isUploded%}">
            </span>
            {% } %}
        </li>
        {% } %}
    </script>
    @*<script id="alliant-template-download" type="text/x-tmpl">
            {% for (var i=0, file; file=o.files[i]; i++) { %}
            <tr class="alliant-template-download fade">
                {% if (file.error) { %}
                <td></td>
                <td class="name"><span>{%=file.name%}</span></td>
                <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
                <td class="error" colspan="2"><span class="label label-important">{%=locale.fileupload.error%}</span> {%=locale.fileupload.errors[file.error] || file.error%}</td>
                {% } else { %}
                <td class="preview">
                    {% if (file.thumbnail_url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery" download="{%=file.name%}"><img src="{%=file.thumbnail_url%}"></a>
                    {% } %}
                </td>
                <td class="name">
                    <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}" download="{%=file.name%}">{%=file.name%}</a>
                </td>
                <td class="size"><span>{%=o.formatFileSize(file.size)%}</span></td>
                <td colspan="2"></td>
                {% } %}
                <td class="delete">
                    <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}">
                        <i class="icon-trash icon-white"></i>
                        <span>{%=locale.fileupload.destroy%}</span>
                    </button>
                    <input type="checkbox" name="delete" value="1">
                </td>
            </tr>
            {% } %}
        </script>*@
</div>
