@{
    Layout = Constant.LayoutAdmin;
}
<div id="@Html.AreaAdministrator()">
    @RenderSection("CSSSection", false)
    @*@RenderSection("Breadcrumb", false)*@
    @RenderBody()
    @RenderSection("JSSection", false)
</div>

