
@{
    ViewBag.Title = "UrlDemo";
}
<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <div class="row">
                <div class="col-md-12">
                 <a href="@Url.AlliantAction("TestUrl","Testing",new { Name="Harvi"})">Call</a>
                </div>
            </div>
        </div>
    </div>
</div>

